<div class="container">
  <h2>Building <%=@character.name%></h2>
  <p><%=@character.race%></p>
  <p>Charisma</p>
  <p><%=@character.charisma%></p>
  <p>Intelligence</p>
  <p><%=@character.intelligence%></p>
  <p>Wisdom</p>
  <p><%=@character.wisdom%></p>
  <p>Strength</p>
  <p><%=@character.strength%></p>
  <p>Dexterity</p>
  <p><%=@character.dexterity%></p>
  <p>Constitution</p>
  <p><%=@character.constitution%></p>
</div>
